<div class="container col-6">
  <h1>User Search</h1>
  <h3><%= @users.count %> results found</h3>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.username, controller: "users", action: "show", id: user._id%>
      </li>
    <% end %>
  </ul>
</div>