<div class="map-container">
  <div class="map-info">
    <h4 class="map-header"><%= link_to map.name, map_path(map) %></h4>
    <% map.tag_list.each do |tag| %>
      <span>
        <%= link_to tag, tagged_path(tag: tag), class:"badge badge-primary tag" %>
      </span>
    <% end %>
    <br />
    <div class="map-description">
      <p>
        <%= map.description %>
      </p>
    </div>
  </div>
  <div class="map-image">
    <%= image_tag map.picture.thumb.url, class:"map-thumb" %>
  </div>
</div>