<div class="map-container">
  <div class="map-info" style="float:left;width:70%">
    <h4 style="margin-bottom: 0px"><%= link_to map.name, map_path(map) %></h4>
    <% map.tag_list.each do |tag| %>
      <span>
        <%= link_to tag, tagged_path(tag: tag), class:"badge badge-primary", style:"background-color: #355940" %>
      </span>
    <% end %>
    <br />
    <div class="map-description">
      <p>
        <%= map.description %>
      </p>
    </div>
  </div>
  <div class="map-image" style="width:20%;float:right">
    <%= image_tag map.picture.thumb.url, class:"map-thumb" %>
  </div>
</div>