<br />
<div class="container col-12 col-lg-6">
  <div class="row">
    <h3 class="col-10">Maps</h3>
      <div class="col-2">
        <%= link_to 'New map', new_map_path, class:'btn btn-secondary float-right' %>
      </div>
  </div>
  <% @maps.each do %>
    <%= render partial: 'map', locals: { map: map } %>
  <% end %>
</div>