<div class="container col-12 col-lg-6">
  <h3>New Map</h3>
  <br />
  <%= form_for @map, html: { multipart: true } do |form| %>
    <%= render partial: 'form', locals: { f: form, action: "new" } %>
  <% end %>
</div>