<div class="container col-12 col-lg-6">
  <h3><%= @user.username %><h3>
  <% if current_user == @user %>
    <p><%= link_to 'Edit Profile', edit_user_registration_path %></p>
  <% end %>
  <h4>Uploaded Maps</h4>
  <div class="maps-index">
    <% if @user.maps %>
      <ul>
        <% @user.maps.each do |map| %>
          <li><%= link_to map.name, map_path(map) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No maps yet.</p>
    <% end %>
  </div>
</div>