// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-container {
  border: 1px;
  border-style: solid;
  overflow: hidden;
  margin-bottom: 1em;
  padding: 0 2%;
  width: 100%;
}

.map-description {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}

.map-description:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.map-description {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
}

.map-image {
  width: 20%;
  float: right;
}

.map-info {
  float:left;
  width:70%;
}

.map-header {
  margin-bottom: 0px;
}

.map-thumb {
  margin: 5px 30px;
}

.tag {
  background-color: #355940;
}